#
# systemd service file for Haraka
#
# Ensure that `daemonize` in `smtp.ini` is set to `false` (which is the default value).
#
# Put this file in /etc/systemd/system,  modify the paths to suit, then run:
# sudo systemctl enable haraka
# sudo systemctl start haraka
#

[Unit]
Description=Haraka MTA
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
PIDFile=/var/run/haraka.pid
ExecStart=/usr/bin/haraka -c /path/to/your/config
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target
