{
  "env": {
    "node": true
  },
  "rules": {
    "dot-notation": 2,
    "indent": [2, 4, {"SwitchCase": 1}],
    "one-var": [2, "never"],
    "no-trailing-spaces": [2, { "skipBlankLines": false }],
    "keyword-spacing": [2, {"overrides": {
      }}]
  }
}
