.claude
.codeclimate.yml
.DS_Store
.editorconfig
.githooks
.github
.gitignore
.gitmodules
.lgtm.yml
.qlty
.prettierignore
.release
.zed
AGENTS.md
appveyor.yml
codecov.yml
coverage
eslint.config.mjs
test
run_tests
CLAUDE.md
GEMINI.md
http/bower_components
http/node_modules
