language: node_js
node_js:
    - "6"
    - "7"

services:
    - redis-server
    
# these are required for building on node.js v4
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
env:
  - "CXX=g++-4.8"
# end: these are required for building on node.js v4

before_script:

script:
    - npm run lint
    - npm test

after_success:
    - npm install istanbul codecov
    - npm run cover
    - ./node_modules/.bin/codecov

sudo: false

cache:
    directories:
        - node_modules

