name: Haraka Tests - Windows

on: [ push, pull_request ]

# no docker/images support on Windows (currently), so run w/o Redis
# also, stack run commands so test doesn't begin before install completes

jobs:

  ci-test-win:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ windows-latest ]
        node-version: [ 14.x, 16.x ]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
      name: Checkout Haraka
      with:
        fetch-depth: 1

    - uses: actions/setup-node@v1
      name: Use Node.js ${{ matrix.node-version }}
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install
      run: npm install

    - name: Test
      run: npm run test

      env:
        CI: true
